<html lang="fr" layout:decorate="~{base}">
<div layout:fragment="page_content" id="page_content">
  <h3>Page 1</h3>
 
  <div class="alert alert-info" style="display: none;" 
    id="js-content">
  </div>
  <a th:href="@{/time}">Donne la date d'aujourd'hui)</a>
</div>
  
</html>