<html>
	<head>
		<title th:text="${appName}">Titre</title>
	</head>

	<body>
		<nav>
		  <a href="/">Home</a>
		  <a href="/time">Time</a>
		</nav>
		<h1>Bonjour !</h1>
		<p>Bienvenue sur <span th:text="${appName}">Notre application</span></p>
	</body>
</html>